
/* https://stackoverflow.com/questions/11670874/is-there-an-equivalent-to-background-size-cover-and-contain-for-image-elements */

.image-with-status {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.image-with-status img {
  position: absolute;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  left: -9999px;
  margin: auto;
  display: block;
}

@media (min-aspect-ratio: 8919/6683) {
  .image-with-status img {
    max-width: 100%;
    min-height: 100%;
  }
}

@media (max-aspect-ratio: 8919/6683) {
  .image-with-status img {
    max-height: 100%;
    width: auto;
  }
}
